<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.sitwell"
    android:installLocation="internalOnly">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SitWell"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".muscleTrainingRecommendation.MuscleTrainingRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".report.PieChartExFreqReportActivity"
            android:exported="false" />

        <receiver
            android:name=".alarm.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="repeat_relax" />
            </intent-filter>
        </receiver>

        <activity android:name=".habitCorrection.HabitCorrectionSetting"
            android:exported="false"/>
        <activity
            android:name=".report.LineChartInStatsActivity"
            android:exported="false" />
        <activity
            android:name=".report.PieChartSittingReportActivity"
            android:exported="false" />
        <activity
            android:name=".report.LineChartInSitDetectionActivity"
            android:exported="false" />
        <activity
            android:name=".alarm.MuscleRelaxSetting"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".muscleTraining.MuscleRelaxTrainingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".muscleTraining.MuscleRelaxActivity"
            android:exported="false" />
        <activity
            android:name=".muscleTraining.MuscleStrengthenTrainingActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".habitCorrection.HabitCorrectionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".muscleTraining.MuscleStrengthenActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".report.ReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
    </application>

</manifest>