<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SitWell</title>
</head>

<body>

    <div class="contentarea" id="main">
        <h1>
            SitWell
        </h1>
        <p id="testing">Please login to your account</p>
        <button id="auth-button">
            <p id="auth-button-text">Sign with Google</p>
        </button>
        <p id="error"></p>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="scirpt.js">
    </script>
</body>

</html>