#video {
	border: 1px solid black;
	width: 450px;
	height: 350px;
	display: block;
}

#photo {
	border: 1px solid black;
	width: 450px;
	height: 350px;
	display: block;
}

#canvas {
	display: none;
}

.camera {
	width: 450px;
	display: inline-block;
}

.output {
	width: 450px;
	display: inline-block;
}

.buttonarea{
	padding-bottom: 20px;
	
}



.contentarea {
	font-size: 16px;
	font-family: Arial;
	text-align: center;
}